body{
    background-color: #FFFF;
    font-family: 'Poppins', sans-serif;
    padding: 110px;
}

/* Menu */
.menu{
  text-align: center; 
  text-decoration: solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #006e9d;
  display: flex;
  align-items: center;
  justify-content: center;

}
.ul-menu{
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  margin: 0;
}

.li-menu{
  margin-right: 10px;
  padding-right: 30px;
  list-style: none;
}

.li-menu-social{
  margin-right: 10px;
}

.a-menu{
  color:#FFFF;
  text-decoration: solid;
  
}

.a-menu:hover{
  color:#80d9ff;
  
}

.titulo1{
  color:#006e9d;
  font-size: 250%;
}

/* Fim Menu */

/* Footer */
.footerstyle{
  text-align: center; 
  text-decoration: solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  color: #cecece;
  background-color: #006e9d;
  display: flex;
  align-items: center;
  justify-content: center;

}

.a-footer{
  color:rgb(0, 255, 213);
  text-decoration: solid;
 
}

.a-footer:hover{
  color:#80d9ff;
  
}

/* Fim Footer */

#bordeFormu{
    border-style: groove;
    border-radius: 30px;
}

.frame {
    width: 90%;
    margin: 40px auto;
    
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #ffff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  /* 4 */
.btn-4 {
    background-color: #006e9d;
  background-image: linear-gradient(315deg, #006e9d 0%, #00ABF5 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4:hover{
    background-color: #00ABF5;
  background-image: linear-gradient(315deg, #00ABF5 0%, #006e9d 74%);
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 0%;
    width: .1px;
  }
  .btn-4:after {
    width: 0%;
    height: .1px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  
.btn-4 span:before,
.btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }

/* Formulário */
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00ABF5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  
}

button:hover {
    background-color: #006e9d;
}

a{
  color:#006e9d;
  text-decoration:solid;
}

a:hover{
  color:#000B9E;
}